venv

KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/*
!KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/psnr_E.pth
!KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/psnr_G.pth

KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/*
!KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/psnr_E.pth
!KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/psnr_G.pth

KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/*
!KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/psnr_E.pth
!KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/psnr_G.pth

KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned/models/*
!KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned/models/psnr_E.pth
!KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned/models/psnr_G.pth


KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned_400k/models/*
!KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned_400k/models/psnr_E.pth
!KAIR/training_results/conv_trans_nstb_finetuned/scunet_ngswin_conv_trans_nstb_finetuned_400k/models/psnr_G.pth


KAIR/training_results/synthetic_transfer_finetune/scunet_ngswin_conv_trans_nstb_synthetic_transfer_finetune/models/*
!KAIR/training_results/synthetic_transfer_finetune/scunet_ngswin_conv_trans_nstb_synthetic_transfer_finetune/models/psnr_E.pth
!KAIR/training_results/synthetic_transfer_finetune/scunet_ngswin_conv_trans_nstb_synthetic_transfer_finetune/models/psnr_G.pth

# Ignore tensorboard files and other training artifacts
KAIR/training_results/**/tensorboard/
KAIR/training_results/**/images/
*.log
*.pt
*.pth
!**/psnr_E.pth
!**/psnr_G.pth

# Ignore ADN runs directory
adn/runs/

# Dataset files (common formats)
*.h5
*.hdf5
*.npy
*.npz
*.mat
*.nii
*.nii.gz
datasets/
data/
*.zip
*.tar
*.tar.gz
*.rar
*.7z

__pycache__

KAIR/inference_results