venv

KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/*
!KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/psnr_E.pth
!KAIR/training_results/conv_nstb/scunet_ngswin_conv_nstb/models/psnr_G.pth

KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/*
!KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/psnr_E.pth
!KAIR/training_results/conv_trans_nstb/scunet_ngswin_conv_trans_nstb/models/psnr_G.pth

KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/*
!KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/psnr_E.pth
!KAIR/training_results/trans_nstb/scunet_ngswin_trans_nstb/models/psnr_G.pth

training_results/conv_nstb/models/*
!training_results/conv_nstb/models/psnr_E.pth
!training_results/conv_nstb/models/psnr_G.pth

# Dataset files (common formats)
*.h5
*.hdf5
*.npy
*.npz
*.mat
*.nii
*.nii.gz
datasets/
data/
*.zip
*.tar
*.tar.gz
*.rar
*.7z

__pycache__

